body {
	background-color: black;
}

#comingsoon {
    max-width: 50%; 
}

.panel-default {
    border-color: transparent;
}

.active {
	font-weight: bolder;
}

#p1 {
	padding-top: 200px;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
}

#p2 {
	padding-top: 100px;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
}

#p3 {
	padding-top: 100px;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
}

#p4 {
	padding-top: 90px;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
}

h3 {
	margin: auto 0px;
	padding: 5px;
	font-size: 20px;
	color: #888;
}

#Aboutimg {
	margin-top: 10px;
}

.social {
	padding: 5px;
}

.connectcenter {
	margin-left: 40px;
}

#socialMediaPosition {
	margin-top: 280px;
}

#project1 {

	background-image: url(../images/flight.jpg);
	height: 400px;
	width: 400px;
	text-align: center;
	margin-left: 175px;


}

#project2 {
	background-image: url(../images/Twowires.jpg);
	height: 200px;
	width: 190px;
	text-align: center;

	
}

#project3 {
	background-image: url(../images/singlewire.jpg);
	height: 200px;
	width: 190px;
	text-align: center;
	margin-left: 10px;

}

#project4 {
	background-image: url(../images/bottomwire.jpg);
	height: 179px;
	width: 400px;
	text-align: center;

}

.btn {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    background: #404040;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn:hover, .btn:focus, .btn:active, .btn.active {
    background: #ddd;
}
 
.btn:active, .btn-primary.active {
    background: #eee;
    box-shadow: none;
}

.sidebar {
	background-image: url(../images/carrierpigeon.jpg);
	height: 310px;
	width: 189px;
	margin-top: 20px;
	margin-left: 110px;
	text-align: center;
}

.directcontact {
	padding-top: 95px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

h4 {
	font-size: 28px;
	color: #404040;
	padding-top: 100px;
}

ul {
	list-style: none;
}

li {
	color: black;
}

p {
	color: #444;
}